[Unit]
Description=Bluetherm Temperature Logging Daemon
After=network.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/opt/bluetherm/bluethermd --sqlite /var/lib/bluethermd/sqlite --quiet
KillMode=process
Restart=on-failure
TimeoutSec=300

[Install]
WantedBy=multi-user.target
Alias=exdiag.service
