[Unit]
Description=Bluetherm Temperature Logging Daemon
After=network.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/opt/heat-ledger/bin/bluethermd --sqlite /var/lib/heat-ledger/bluethermd.sqlite --update-interval 2 --quiet
KillMode=process
Restart=always
TimeoutSec=10

[Install]
WantedBy=multi-user.target
Alias=bluethermd.service
